* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/*Header*/

header {
    width: 100%;
    padding: 20px 0;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .Logo img{
    max-width: 150px;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

.menu-desktop nav ul li {
    display: inline-block;
    margin: 0 50px;
}

body {
    background-color: #ffffff; 
    color: #000000;
    font-family: Arial, sans-serif;
}
a {
    color: #000000; 
    text-decoration: none;
}
a:hover {
    color: #920000; 
    text-decoration: underline;
    text-decoration: none;

} 

/*Pagina de contato*/

body {
    background-color: #000000; 
    color: #ffffff;
    font-family: Arial, sans-serif;
}

a {
    color: #ffffff; 
    text-decoration: none;
}
a:hover {
    color: #920000; 
    text-decoration: underline;
    text-decoration: none;
}