* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* ===== ESTILO GERAL ===== */

body {
    background-color: #0f172a; /* Azul escuro */
    color: #f1f5f9; /* Branco suave */
    font-family: Arial, sans-serif;
}

/* ===== HEADER ===== */

header {
    width: 100%;
    padding: 20px 0;
    background-color: #111827; /* Preto azulado */
    border-bottom: 2px solid #2563eb;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .Logo img {
    max-width: 150px;
}

/* ===== MENU ===== */

header .menu-desktop nav ul {
    list-style-type: none;
}

.menu-desktop nav ul li {
    display: inline-block;
    margin: 0 50px;
}

/* ===== LINKS ===== */

a {
    color: #f1f5f9;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #3b82f6; /* Azul destaque */
}

/* ===== PÁGINA CONTATO ===== */

.contato {
    background-color: #020617;
    color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}